/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */


body {

    background-color: black;
    
}


.all-container {

    box-sizing: border-box;

    background-color: black;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}






/* PAGE 1 */
.main-page {

    min-height: 600px;
    max-height: 100%;
    min-width: 400px;

    flex-basis: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#image {

    background-color: darkblue;
    height: 600px;
    margin: 5px;

    flex: 1 0 450px;

}
#pic {
    width: 100%;
    height: 600px;
}

#text {

    background-color: floralwhite;
    height: 600px;
    text-align: center;
    margin: 5px;

    flex: 1 0 450px;

    display: flex;
    flex-flow: column;
    justify-content: space-around;

}
#p1 {

    align-items: flex-start;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;

}
#p2 {
    align-items: end;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
}

.converse span:first-child {

    color: darkblue;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(2) {

    color:black;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(3) {

    color:crimson;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(4) {

    color:black;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(5) {

    color:green;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(6) {

    color:black;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(7) {

    color:darkorange;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(8) {

    color:black;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}






/* PAGE 2 */
.second-page {
    

    background-color: floralwhite;
    color: black;
    margin: 0 5px 5px 5px;
    min-height: 300px;
    max-height: fit-content;

    flex-basis: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about {

    min-height: 100px;
    max-height: fit-content;
    max-width: 800px;
    min-width: 300px;

    
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.1px;
    padding: 5px;
    
    flex: 1;

}

#h1 {

  font-weight: bold;
  font-size: 20px;
  text-align: left;

}
#p3 {

    font-size: 18px;
    padding-top: 0;
    text-align: left;
}







/* PAGE 3 */
.third-page {

    background-color: floralwhite;
    color: black;
    max-width: 100%;
    min-width: 450px;
    max-height: 600px;
    margin: 0 5px 5px 5px;
    
    flex-basis: 100%;

    display: flex;
    justify-content: center;

}

.typography {
    
    padding: 10px 5px 20px 5px;
    min-width: 300px;

    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

#font-headings {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;  

    display: inline-block; 
    flex-basis: 100%; 

}

#font-for {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;

    display: inline-block; 
    flex-basis: 100%; 

}

#londrina {

    font-family: Londrina Shadow;
    font-size: 120px;
    letter-spacing: 10px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;

    display: inline-block;
    flex-basis: 100%;
 
      
}

@media only screen and (max-width: 600px) {
    #londrina {
      font-size: 40px;
    }
}

#arial {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;

    display: inline-block; 
    flex-basis: 100%; 
    
}

#first-line {

    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-left: 10px;

    display: inline-block; 
    flex-basis: 100%; 

}





/* PAGE 4 */
.fourth-page {

    flex-basis: 100%;
   
    margin: 0 5px 5px 5px;
    min-height: 500px;
    max-height: fit-content;

    background-color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;

    display: flex;
    flex-wrap: wrap;
    
}

#colours {

    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 40px;

    flex-basis: 100%;
}

/* THE LINE IS NOT MAKING IT TO THE END SOMEHOW */
.colour-line {

    flex-basis: 100%;

    height: 300px;

    border-top: black solid 2.5px;

    display: flex;

}
@media only screen and (max-width: 800px) {
    .colour-line {
      height: fit-content;
      font-size: 20px;
      flex: 1;

      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      border-top: none;
    }
}

.colors {
  
    flex-basis: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

}
.colors :first-child {
    max-height: 200px;
    
    border: black solid 2.5px;
    width: 100%;
    flex: 1;
    
}
@media only screen and (max-width: 1250px) {
    .colors :first-child {
        flex: 1;
        max-height: 200px;
        max-width: 200px;
        min-width: 60px;
    }
}
@media only screen and (max-width: 800px) {
    .colors :first-child {
        min-height: 50px;
        max-width: 700px;
        flex: 1;
    }
}

#black {

    background-color: black;
    border-bottom: black solid 5px;
     
}
#darkblue {

    background-color:darkblue;
    border-bottom: black solid 5px;
    
}
#green {

    background-color: green;
    border-bottom: black solid 5px;
  
}
#darkorange {

    background-color: darkorange;
    border-bottom: black solid 5px;

}
#crimson {

    background-color: crimson;
    border-bottom: black solid 5px;
 
}
#floralwhite {

    background-color: floralwhite;
    border-bottom: black solid 5px;
    border-right: black solid 5px;
  
}

.colors :nth-child(2) {

    flex-basis: 100%;
    padding-top: 10px;
    max-height: 50px;
    flex: 1;

}
@media only screen and (max-width: 1250px) {
    .colors :nth-child(2) {
        flex: 1;
        max-height: 50px;
        max-width: 200px;
        min-width: 60px;

    }
}



#colour1 {

    color: darkblue;

}
#colour2 {
    color: green;
  
}
#colour3 {
    color: darkorange;
 
}
#colour4 {
    color: crimson;
   
}
#colour5 {
    color: floralwhite;
    text-shadow: black 1px 0 0.5px, black 0 -1px 0.5px, black 0 1px 0.5px, black -1px 0 0.5px;   

}







/* PAGE 5 */
.fifth-page {

    flex-basis: 100%;
    flex-wrap: wrap;

    margin: 0 5px 0 5px;
    background-color: floralwhite;
    
}

.title {
    
    height: 150px;
}

#desktop {

    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;

}







/* PAGE 6 */
.sixth-page {

    flex-basis: 100%;
    margin: 0 5px 0 5px;
    padding-bottom: 200px;
    background-color: floralwhite;
    min-height: fit-content;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.inside-page {

    background-color: black;
    min-height: fit-content;
    max-width: 1000px;
    margin: 5px 5px 0 5px;

    display: flex;
    flex: 1;
    
}
@media only screen and (max-width: 1000px) {
    .inside-page {
        min-width: 450px;
    
    }
}

.inside-main-page {

    flex-basis: 100%;

    display: flex;
    flex-wrap: wrap;

    flex: 1;

}
@media only screen and (max-width: 1000px) {
    .inside-main-page {
        min-width: 450px;
    
    }
}


#top-line {
    
    max-width: 1000px;
    padding: 5px 5px 0 5px;

    flex-basis: 100%;

    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#menu {

    max-width: 100px;
    max-height: 60px;
    color: floralwhite;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    flex: 1;

}


i.material-icons {

    font-size: 40px;
}

#white-gap {

    width: 1px;
    background-color: floralwhite;
    height: 50px;
    align-self: center;

}

#converse2 {

    color: floralwhite;
    background-color: black;
    font-size: 30px;
    font-family: Londrina Shadow;
    letter-spacing: 5px;
    font-weight: bold;

    max-width: 600px;
    text-align: right;
    padding: 0 20px 0 80px;

    display: flex;
    justify-content: right;
    align-items: center;

    flex: 5;
    
}

#search {

    color: floralwhite;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;

}

#log {

    color: floralwhite;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 3;
}




.second-line {

    min-height: 500px;
    max-height: fit-content;
    width: 1000px;

    display: flex;
    flex-wrap: wrap;

    flex-basis: 100%;

}

#image2 {

    background-color: floralwhite;
   
    max-height: 495px;
    max-width: fit-content;
    
    margin: 5px;
    border-top: black solid 5px;
    flex: 1 0 450px;

}

#text2 {

    background-color: darkblue;
    color: floralwhite;
    height: 495px;
    width: 495px;
    margin: 5px;
    border-top: black solid 5px;
    
    flex: 1 0 450px;

    display: flex;
    flex-direction: column;

}
#left-align {

    text-align: left;
    padding: 40px 2px 20px 2px;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;

}
#right-align {

    text-align: right;
    padding: 0 5px 0 0;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;

}
#speech {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 40px;
    font-weight: light;
}
#button-shop {

   
    align-self: center;
    background-color: floralwhite;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 5px 5px 0;
    
    font-size: 40px;
    padding: 5px;
    margin-top: 30px;

}



.third-line {

    min-height: 600px;
    max-height: fit-content;
    max-width: 990px;
    min-width: 400px;
    background-color: floralwhite;
    margin: 0 5px 0 5px;

    flex-basis: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    flex: 1;
 
}

#shop-color {

    justify-content: left;
    padding: 50px 0 0 20px;
    font-family: Londrina Shadow;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 70px;

    flex-basis: 100%;
    align-self: center;

}

#blue-s {
    color: darkblue;
}
#green-h {
    color: green;
}
#yellow-o {
    color: darkorange;
}
#red-p {
    color: crimson;
}
#shoes {
    color: black;
}

#button-line {

    flex-basis: 100%;
    display: flex;

    padding-left: 20px;
    padding-right: 25px;

}
@media only screen and (max-width: 1000px) {
    #button-line {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1;
        max-width: 400px;
        min-width: 300px;
        min-height: 200px;
        max-height: fit-content;
        padding-bottom: 20px;
        
    }
}


.inside-text {
    
    display: flex;
    flex: 1;
    flex-basis: 100%;
    padding: 0 0 0 5px;

}

#high {

    height: fit-content;
    background-color: floralwhite;
    border-color: crimson;
    border-width: 3px;
    border-style: solid;
    box-shadow: crimson 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;

    flex-basis: 100%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#high :nth-child(2):first-letter {
    color: crimson;
    font-size: 20px;
}

#low {
    height: fit-content;
    background-color: floralwhite;
    border-color: darkorange;
    border-width: 3px;
    border-style: solid;
    box-shadow: darkorange 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;

    flex-basis: 100%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
#low :nth-child(2):first-letter {
    color:darkorange;
    font-size: 20px;
}

#platform {

    height: fit-content;
    background-color: floralwhite;
    border-color: green;
    border-width: 3px;
    border-style: solid;
    box-shadow: green 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#platform :nth-child(2):first-letter {
    color:green;
    font-size: 20px;
}

#winter {

    height: fit-content;
    background-color: floralwhite;
    border-color: darkblue;
    border-width: 3px;
    border-style: solid;
    box-shadow: darkblue 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#winter :nth-child(2):first-letter {
    color:darkblue;
    font-size: 20px;
}


#shop-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
#shop-all{
    
    width: 200px;
    height: 50px;
    background-color: floralwhite;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    box-shadow: black 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
   
}
.shop-all::first-letter {
    color: crimson;
}




.fourth-line {

    min-height: 500px;
    max-height: fit-content;
    width: 1000px;

    display: flex;
    flex-wrap: wrap;

    flex-basis: 100%;

}

#text3 {

    background-color: crimson;
    color: floralwhite;
    height: 495px;
    width: 495px;
    margin: 5px;
    border-top: black solid 5px;

    flex: 1 0 450px;

    display: flex;
    flex-direction: column;

}

#left-align2 {

    text-align: left;
    padding: 40px 0 20px 2px;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;

}
#right-align2 {

    text-align: right;
    padding: 0 5px 0 0;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;

}
#p-line {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: light;

}
#shop-button {
    
    align-self: center;
    background-color: floralwhite;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 5px 5px 0;
    
    font-size: 40px;
    padding: 5px;
    margin-bottom: 20px;

}

#image3 {

    background-color: crimson;
 
    max-height: 495px;
    max-width: fit-content;
    
    margin: 5px;
    border-top: black solid 5px;
    flex: 1 0 450px;

    display: flex;
    align-items: center;

}



.fifth-line {

    min-height: 600px;
    max-height: fit-content;
    max-width: 990px;
    min-width: 500px;
    background-color: floralwhite;
    margin: 5px 5px 0 5px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#top-line6 {

    color: black;
    font-family: Londrina Shadow;
    font-size: 80px;
    font-weight: bold;
    
}

#quote, #clean, #deliver, #gift {

    background-color: floralwhite;
    border-width: 3px;
    border-style: solid;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px 40px 20px 40px;
    margin: 0 100px 0 100px;

    flex-basis: 100%;

}

#quote {

    border-color: darkblue;
    box-shadow: darkblue 5px 5px 0;
    
}
#clean {

    border-color: green;
    box-shadow: green 5px 5px 0;

}
#deliver {

    border-color: darkorange;
    box-shadow: darkorange 5px 5px 0;

}
#gift {

    border-color: crimson;
    box-shadow: crimson 5px 5px 0;
    margin-bottom: 50px;

}


.plus {

    text-align: right;
    padding-right: 5px;
    width: 20px;
    position: absolute;
    top: 50%;
    
}


#quote span:last-child {

    float: right;
    padding-right: 20px;
   
}
#clean span:last-child {

    float: right;
    padding-right: 20px;
}
#deliver span:last-child {

    float: right;
    padding-right: 20px;
   
}
#gift span:last-child {

    float: right;
    padding-right: 20px;
   
}



.sixth-line {

    min-height: 500px;
    max-height: fit-content;
    width: 1000px;

    display: flex;
    flex-wrap: wrap;

    flex-basis: 100%;

}

#image4 {

    background-color: darkorange;

    height: 500px;
    width: fit-content;
    
    margin: 0 5px 0 5px;
    border-top: black solid 5px;
    flex: 1 0 450px;

    display: flex;
    justify-content: center;
    align-items: center;

}
#pic4 {

    max-height: 490px;
    min-width: 495px;
}


#text4 {

    background-color: darkorange;
    min-height: 495px;
    width: 495px;
    margin: 5px 5px 0 5px;

    flex: 1 0 450px;

    display: flex;
    flex-direction: column;

}

#top-line3 {

    margin-top: 80px;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;
    color: floralwhite;
    text-align: center;
    margin-bottom: 10px;
}

#text4 div {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-align: left;
    padding: 15px 0 0 50px;
    box-shadow: black 0 3px 0;

}

#send {

    align-self: center;
    background-color: floralwhite;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 5px 5px 0;
    
    font-size: 40px;
    padding: 5px;
    margin-top: 40px;

}




.seventh-line {

    width: 990px;
    background-color: floralwhite;
    margin: 5px 5px 0 5px;
    text-align: center;
    flex-basis: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#top-line4 {

    color: black;
    font-family: Londrina Shadow;
    font-size: 80px;
    font-weight: bold;
    padding: 50px 0 0 0;
    flex-basis: 100%;

}

#news {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    flex-basis: 100%;
    padding-bottom: 30px;

}

#sign-up {
   
    background-color: floralwhite;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    box-shadow: black 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0 30px 0;
    padding: 10px 30px 10px 30px;

}


.eighth-line {

    background-color: green;
    margin: 5px;
    padding-bottom: 50px;
    color: black;

    flex-basis: 100%;
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}

#converse3 {

    font-family: Londrina Shadow;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0 10px 20px;
    text-shadow: floralwhite 3px 3px 0;
    letter-spacing: 2px;

    flex-basis: 100%;

}

#a-c {

    background-color: green;
    border: transparent;
    box-shadow: black 0 3px 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: floralwhite;
    margin: 0 15px 10px 20px; 

}

#g-h {

    background-color: green;
    border: transparent;
    box-shadow: black 0 3px 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: floralwhite;
    margin: 0 15px 10px 50px; 
    
}

#input {

    background-color: floralwhite;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 10px 0 0 150px; 
    padding: 10px 30px 10px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    box-shadow: black 5px 5px 0;
    text-align: center;
    
}











.seventh-page {

    flex-basis: 100%;
    flex-wrap: wrap;

    margin: 5px 5px 0 5px;
    background-color: floralwhite;
    
}

.title {
    
    height: 150px;
}

#catalog {

    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;

}






/* PAGE 8 */
.eighth-page {

    flex-basis: 100%;
    margin: 0 5px 0 5px;
    padding-bottom: 50px;
    background-color: floralwhite;
    min-height: fit-content;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.inside-page3 {

    background-color: black;
    min-height: fit-content;
    max-width: 1000px;
    margin: 5px 5px 0 5px;
    flex-basis: 100%;

    display: flex;
    flex-wrap: wrap;

    
}


#top-line2 {
    
    padding: 5px 5px 0 5px;

    flex-basis: 100%;
    flex:1;

    display: flex;
    justify-content: space-between;

}

#menu2 {

    color: floralwhite;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    flex: 1;

}


i.material-icons {

    font-size: 40px;
}

#white-gap2 {

    width: 1px;
    background-color: floralwhite;
    height: 50px;
    align-self: center;

}

#converse4 {

    color: floralwhite;
    background-color: black;
    font-size: 30px;
    font-family: Londrina Shadow;
    letter-spacing: 5px;
    font-weight: bold;

    text-align: right;
    padding: 0 20px 0 80px;

    display: flex;
    justify-content: right;
    align-items: center;

    flex: 5;
    
}

#search2 {

    color: floralwhite;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;

}

#log2 {


    color: floralwhite;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 3;
}

.second-line2 {

    background-color: floralwhite;
    max-width: 990px;
    color: crimson;
    font-family: Londrina Shadow;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;

    margin: 5px 5px 0 5px;
    padding: 50px 0 50px 0;

    flex-basis: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;

}

.third-line2 {

    background-color: black;
    max-width: 990px;
    margin: 5px;
    flex-basis: 100%;

    display: flex;
    flex-wrap: wrap;

}

#results {

    background-color: floralwhite;
    color: crimson;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    flex:1;

    margin-right: 5px;
    padding: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

#space {

    background-color: floralwhite;
    margin-right: 5px;
    padding: 5px;

    flex: 2;

}

.sort {

    background-color: floralwhite;
    border: none;
    color: crimson;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    flex: 1;

    
    display: flex;
    justify-content: center;
    align-items: center;

}

.fourth-line2 {

    max-width: 990px;
    margin: 0 5px 0 5px;
    background-color: floralwhite;

    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
@media only screen and (max-width: 1000px) {
    .fourth-line2 {
        flex-direction: row;
    }
}

.left-column {

    background-color: floralwhite;
    width: 255px;
    
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    
}

.left-column button {

    background-color: floralwhite;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 0 5px 5px 0;

    display: flex;
    align-items: center;

}
@media only screen and (max-width: 1000px) {
    .left-column button {
        border-style: solid;
        border-color: black;
        border-width: 0 0 5px 0;
    }
}


#style-b {

    display: flex;

}
#style-b p {

    flex-basis: 100%;
    flex:1;
    text-align: left;
}


#style-b div {
    flex-basis: 100%;
    flex:1;
} 
#size-b p {

    flex-basis: 100%;
    flex:1;
    text-align: left;
}


#size-b div {
    flex-basis: 100%;
    flex:1;
} 
#colour-b p {
    flex-basis: 100%;
    flex:1;
    text-align: left;
}


#colour-b div {
    flex-basis: 100%;
    flex:1;
} 





.right-column {

    background-color: floralwhite;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.container-b {

    display: flex;
    justify-content: center;

    max-width: 700px;

    margin: 10px 0 0 10px;
    
}
@media only screen and (max-width: 1000px) {
    .container-b {
        align-items: center;
    }
}

.container-b button {

    background: floralwhite;
    border-color: black solid 3px;
    box-shadow: black 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;

}
@media only screen and (max-width: 1000px) {
    .text-size {
        font-size: 10px;
    }
}


#cc1, #cc2, #cc3 {
    border: crimson solid 3px;
    box-shadow: crimson 5px 5px 0;
    padding: 5px;
    font-size: 15px;


}
#doc1, #doc2 {
    border: darkorange solid 3px;
    box-shadow: darkorange 5px 5px 0;
    padding: 5px;
    font-size: 15px;

    
}
#gc1, #gc2 {
    border: green solid 3px;
    box-shadow: green 5px 5px 0;
    padding: 5px;
    font-size: 15px;


}
#dc1, #dc2 {
    border: darkblue solid 3px;
    box-shadow: darkblue 5px 5px 0;
    padding: 5px;
    font-size: 15px;

}




.fifth-line2 {

    background-color: floralwhite;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    flex-basis: 100%;

}
.fifth-line2 button {

    padding: 20px 30px 20px 30px;
    background-color: floralwhite;
    color: black;
    border: solid;
    border-color: black;
    border-width: 5px;
    box-shadow: black 5px 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    
}
.fifth-line2 :first-child {
    color: crimson;
    margin-right: 30px;
    box-shadow: crimson 5px 5px 0;
    border-color: crimson;
    
}
.fifth-line2 :nth-child(2) {
    margin-right: 30px;
}
.fifth-line2 :nth-child(3) {
    margin-right: 30px;
}


.sixth-line2 {

    height: 200px;
    background-color: crimson;
    margin: 5px;
    color: black;
    flex-basis: 100%;

}

#converse5 {

    font-family: Londrina Shadow;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0 10px 20px;
    text-shadow: floralwhite 3px 3px 0;
    letter-spacing: 2px;

}

#a-c2 {

    background-color: crimson;
    border: transparent;
    box-shadow: black 0 3px 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: floralwhite;
    margin: 10px 15px 0 20px; 

}

#g-h2 {

    background-color: crimson;
    border: transparent;
    box-shadow: black 0 3px 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: floralwhite;
    margin: 10px 15px 0 20px; 

}

#input2 {

    background-color: floralwhite;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 10px 15px 0 130px; 
    width: 300px;
    height: 50px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    box-shadow: black 5px 5px 0;
    text-align: center;
    
}