/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */


body {

    background-color: red;
    
}


.all-container {

    box-sizing: border-box;

    background-color: black;
    margin: 5px;

}




/* PAGE 1 */
.main-page {

    max-height: 800px;

    display: flex;
    flex-wrap: wrap;
    
}





#image {

    background-color: darkslateblue;
    background-image: linear-gradient(darkslateblue, beige);
    height: 720px;
    line-height: 710px;
    text-align: center;
    color: beige;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 5px;

    flex: 1 0 300px;

}

#text {

    background-color: beige;
    height: 720px;
    line-height: 230px;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-right: 5px;

    flex: 1 0 300px;

}

#p1 {

    align-items: flex-start;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;

}

#p2 {
    align-items: end;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
}

.converse span:first-child {

    color: darkslateblue;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(2) {

    color:black;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(3) {

    color:crimson;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(4) {

    color:black;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(5) {

    color:green;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(6) {

    color:black;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(7) {

    color:darkorange;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}
.converse span:nth-child(8) {

    color:black;
    font-family: Londrina Shadow;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: bold;
}




/* PAGE 2 */
.second-page {
    
    padding: auto;
    width: 100%;
    
}





.about {

    background-color: beige;
    color: black;
    height: 300px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.1px;
    margin: 0 5px 5px 5px;
    padding: 80px 200px 50px 260px;

    flex-basis: 100%;
    
}


#h1 {

  font-weight: bold;
  font-size: 20px;
  text-align: left;

}

#p3 {

    font-size: 18px;
    padding-top: 0;
    text-align: left;
}




/* PAGE 3 */
.third-page {

    position: relative;
    padding: auto;
    width: 100%;

}




.typography {

    background-color: beige;
    color: black;
    height: 600px;
    margin: 0 5px 5px 5px;
    padding: 10px 50px 0 50px;

    flex-basis: 100%;
    
}


#font-headings {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;  

}

#font-for {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;  

}

#londrina {

    font-family: Londrina Shadow;
    font-size: 120px;
    letter-spacing: 10px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0;
      
}

#arial {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    
}

#first-line {

    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-left: 10px;
    
}





/* PAGE 4 */
.fourth-page {

    flex-basis: 100%;
    flex-wrap: wrap;

    margin: 0 5px 5px 5px;
    height: 500px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;

}





#colours {

    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}


.colour-line {

    flex-basis: 100%;

    background-color: black;
    height: 210px;

    display: flex;
    flex-direction: row;

}


#black {

    flex-basis: 100%;

    background-color: black;
    height: 200px;
    margin: 5px 5px 5px 0;
     
}
#darkslateblue {

    flex-basis: 100%;

    background-color:darkslateblue;
    height: 200px;
    margin: 5px 5px 5px 0;
    
}

#green {

    flex-basis: 100%;

    background-color: green;
    height: 200px;
    margin: 5px 5px 5px 0;

}

#darkorange {

    flex-basis: 100%;

    background-color: darkorange;
    height: 200px;
    margin: 5px 5px 5px 0;

}

#crimson {

    flex-basis: 100%;

    background-color: crimson;
    height: 200px;
    margin: 5px 5px 5px 0;
}

#beige {

    flex-basis: 100%;

    background-color: beige;
    height: 200px;
    margin: 5px 0 5px 0;
}


.text-line {

    display: flex;
    flex-direction: row;

    text-align: center;
    
}

.text-line div {

    height: 100px;

    flex-basis: 100%;
}


#colour1 {

    color: darkslateblue;
}
#colour2 {
    color: green;
}
#colour3 {
    color: darkorange;
}
#colour4 {
    color: crimson;
}
#colour5 {
    color: beige;
    text-shadow: black 1px 0 0.5px, black 0 -1px 0.5px, black 0 1px 0.5px, black -1px 0 0.5px;   
}





/* PAGE 5 */
.fifth-page {

    flex-basis: 100%;
    flex-wrap: wrap;

    margin: 0 5px 0 5px;
    background-color: beige;
    
}





.title {
    
    height: 150px;
}


#desktop {

    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;

}





/* PAGE 6 */
.sixth-page {

    flex-basis: 100%;
    flex-wrap: wrap;

    margin: 0 5px 0 5px;
    background-color: beige;
    min-height: fit-content;

    display: flex;
    justify-content: center;
    
}





.inside-page {

    background-color: black;
    min-height: fit-content;
    width: 1000px;
    margin: 5px 5px 0 5px;

    display: flex;
    
}

.inside-main-page {

    flex-basis: 100%;
 
}


#top-line {
    
    height: 60px;
    width: 1000px;

    display: flex;
    flex-direction: row;

}

#menu {

    width: 100px;
    height: 60px;
    color: beige;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

}


i.material-icons {

    font-size: 40px;
}


#white-gap {

    width: 1px;
    background-color: beige;
    height: 50px;
    align-self: center;

}

#converse2 {

    color: beige;
    background-color: black;
    font-size: 30px;
    font-family: Londrina Shadow;
    letter-spacing: 5px;
    font-weight: bold;

    width: 600px;
    text-align: right;
    padding: 15px 80px 0 20px;
    line-height: 29px;

}

#search {

    width: 100px;

    color: beige;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

#log {

    width: 200px;

    color: beige;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}



.second-line {

    height: 500px;
    width: 1000px;

    display: flex;
    flex-direction: row;

}



#image2 {

    background-color: darkslateblue;
    background-image: linear-gradient(darkslateblue, beige);
    height: 495px;
    width: 495px;
    line-height: 480px;
    text-align: center;
    color: beige;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 5px 0 5px 5px;

}

#text2 {

    background-color: darkslateblue;
    color: beige;
    height: 495px;
    width: 495px;
    margin: 5px;
    position: relative;

}

#left-align {

    text-align: left;
    padding: 40px 2px 20px 2px;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;

}

#right-align {

    text-align: right;
    padding: 0 5px 0 0;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;

}

#speech {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 40px;
    font-weight: light;
}

#button-shop {

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 5px 5px 0;
    
    font-size: 40px;
    padding: 5px;

}

.third-line {

    height: 600px;
    width: 990px;
    background-color: beige;
    margin: 5px 5px 0 5px;
    
    display: flex;
    flex-wrap: wrap;

}

#shop-color {

    justify-content: left;
    padding: 50px 0 0 20px;
    font-family: Londrina Shadow;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 70px;

    flex-basis: 100%;
    align-self: center;
}

#blue-s {
    color: darkslateblue;
}
#green-h {
    color: green;
}
#yellow-o {
    color: darkorange;
}
#red-p {
    color: crimson;
}
#shoes {
    color: black;
}

#button-line {

    flex-basis: 100%;
    display: flex;

    padding-left: 20px;
    padding-right: 25px;

}


.inside-text {
    
    display: flex;
    align-items: flex-end;
    padding-left: 5px;
}

#high {

    height: 250px;
    background-color: beige;
    border-color: crimson;
    border-width: 3px;
    border-style: solid;
    box-shadow: crimson 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;

    flex-basis: 100%;
    text-align: left;

    display: block;
    
}

#high::first-letter {
    color: crimson;
    font-size: 20px;
}

#low {

    height: 250px;
    background-color: beige;
    border-color: darkorange;
    border-width: 3px;
    border-style: solid;
    box-shadow: darkorange 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;

    flex-basis: 100%;
    text-align: left;

    display: block;

}

#low::first-letter {
    color:darkorange;
    font-size: 20px;
}

#platform {

    height: 250px;
    background-color: beige;
    border-color: green;
    border-width: 3px;
    border-style: solid;
    box-shadow: green 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
   
    flex-basis: 100%;
    text-align: left;
    display: block;

}

#platform::first-letter {
    color:green;
    font-size: 20px;
}

#winter {

    height: 250px;
    background-color: beige;
    border-color: darkslateblue;
    border-width: 3px;
    border-style: solid;
    box-shadow: darkslateblue 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;

    flex-basis: 100%;
    text-align: left;
    display: block;
    
}

#winter::first-letter {
    color:darkslateblue;
    font-size: 20px;
}

/* THE TEXT IS NOT GOING TO THE BOTTOM! */


#shop-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
#shop-all{
    
    width: 200px;
    height: 50px;
    background-color: beige;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    box-shadow: black 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
   
}

.shop-all::first-letter {
    color: crimson;
}

.fourth-line {

    height: 500px;
    width: 1000px;

    display: flex;
    flex-direction: row;

}

#text3 {

    background-color: crimson;
    color: beige;
    height: 495px;
    width: 495px;
    margin: 5px;
    position: relative;

}

#left-align2 {

    text-align: left;
    padding: 40px 0 20px 2px;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;

}

#right-align2 {

    text-align: right;
    padding: 0 5px 0 0;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;

}

#p-line {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    font-weight: light;

}

#shop-button {

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 5px 5px 0;
    
    font-size: 40px;
    padding: 5px;

}

#image3 {

    background-color: crimson;
    background-image: linear-gradient(darkorange, crimson);
    height: 495px;
    width: 495px;
    line-height: 480px;
    text-align: center;
    color: beige;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 5px 5px 0 0;

}

.fifth-line {

    height: 600px;
    width: 990px;
    background-color: beige;
    margin: 5px 5px 0 5px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#top-line2 {

    color: black;
    font-family: Londrina Shadow;
    font-size: 80px;
    font-weight: bold;
    padding: 50px 0 0 0;
    
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

    
}

#quote, #clean, #deliver, #gift {

    height: 70px;
    width: 750px;
    background-color: beige;
    border-width: 3px;
    border-style: solid;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0;



}

#quote {

    border-color: darkslateblue;
    box-shadow: darkslateblue 5px 5px 0;
    

}
#clean {

    border-color: green;
    box-shadow: green 5px 5px 0;

}
#deliver {

    border-color: darkorange;
    box-shadow: darkorange 5px 5px 0;

}
#gift {

    border-color: crimson;
    box-shadow: crimson 5px 5px 0;
    margin-bottom: 50px;

}


.plus {

    text-align: right;
    padding-right: 5px;
    width: 20px;
    position: absolute;
    top: 50%;
    
}




#quote span:last-child {

    float: right;
    padding-right: 20px;
   
}
#clean span:last-child {

    float: right;
    padding-right: 20px;
}
#deliver span:last-child {

    float: right;
    padding-right: 20px;
   
}
#gift span:last-child {

    float: right;
    padding-right: 20px;
   
}

.sixth-line {

    height: 500px;
    width: 1000px;

    display: flex;
    flex-direction: row;


}

#image4 {

    background-color: darkorange;
    background-image: linear-gradient(darkorange, beige);
    height: 495px;
    width: 495px;
    line-height: 480px;
    text-align: center;
    color: beige;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 5px 0 0 5px;

}

#text4 {

    background-color: darkorange;
    height: 495px;
    width: 495px;
    margin: 5px;
    position: relative;
   

}

#top-line3 {

    margin-top: 80px;
    font-family: Londrina Shadow;
    font-weight: bold;
    font-size: 80px;
    color: beige;
    text-align: center;
    margin-bottom: 10px;
}

#text4 div {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-align: left;
    padding: 15px 0 0 50px;
    box-shadow: black 0 3px 0;

}

#send {

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 5px 5px 0;
    
    font-size: 40px;
    padding: 5px;

}

.seventh-line {

    height: 400px;
    width: 990px;
    background-color: beige;
    margin: 5px 5px 0 5px;
    text-align: center;
    
}

#top-line4 {

    color: black;
    font-family: Londrina Shadow;
    font-size: 80px;
    font-weight: bold;
    padding: 100px 0 0 0;

}

#news {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;

}

#sign-up {

    width: 200px;
    height: 50px;
    background-color: beige;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    box-shadow: black 5px 5px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;

}

.eighth-line {

    height: 200px;
    background-color: green;
    margin: 5px;
    color: black;

}

#converse3 {

    font-family: Londrina Shadow;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0 10px 20px;
    text-shadow: beige 3px 3px 0;
    letter-spacing: 2px;

}

#a-c {

    background-color: green;
    border: transparent;
    box-shadow: black 0 3px 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: beige;
    margin: 10px 15px 0 20px; 

}

#g-h {

    background-color: green;
    border: transparent;
    box-shadow: black 0 3px 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: beige;
    margin: 10px 15px 0 20px; 

}

#input {

    background-color: beige;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 10px 15px 0 130px; 
    width: 300px;
    height: 50px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    box-shadow: black 5px 5px 0;
    text-align: center;
    
}

.inside-page2 {

    background-color: beige;
    height: 150px;
    margin: 0 5px 0 5px;

}























